body {
  background: #252424;
  color: #ffffff;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.content {
  margin: 0 auto;
  width: 100%;
  max-width: 60%;
  margin-top: 45px;
  margin-bottom: 45px;
  background-color: #2b2a2a;
  padding: 48px;
  border-radius: 18px;
}

.topo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
}

.topo input {
  width: 85%;
  padding: 12px;
  border-radius: 15px;
  border: 1px solid #191818;
  outline: none;
  font-size: 1.1rem;
  background-color: #252424;
  color: #fff;
  border: 2px solid rgb(51, 50, 50);
}

.topo button {
  width: 45px;
  border-radius: 12px;
  border: 1px solid #191818;
  background: #252424;;
  color: #fff;
  outline: none;
}

.topo button:hover{
  background: #181616;
  border: 1px solid #fff;
  cursor: pointer;
}

#listaTask {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#listaTask li {
  padding : 8px;
  background: #252424;
  border: 2px solid rgb(51, 50, 50);
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items:center;
}

.btnAction {
  border-radius: 10px;
  border: 1px solid #191818;
  background: #252424;;
  color: #fff;
  outline: none;
  padding: 0.6em;
  width: 38px;
  margin-right: 5px;


}

.btnAction:hover{
  background: #181616;
  border: 1px solid #fff;
  cursor: pointer;
}